// Behaviors to support US like symbols when host layoust is NO
//salut: bzgec

// + ?
no_plus: no-plus-qmark {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_PLUS_QMARK";
  #binding-cells = <0>;
  bindings = <&kp PLUS>, <&kp QMARK>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};

// , <
no_comma: no-comma-lt {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_COMMA_LT";
  #binding-cells = <0>;
  bindings = <&kp NO_COMMA>, <&kp NO_LT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};

// . >
no_dot: no-dot-gt {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_DOT_GT";
  #binding-cells = <0>;
  bindings = <&kp NO_DOT>, <&kp NO_GT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};
