// Behaviors to support US like symbols when host layoust is NO
//salut: bzgec

// + ?
no_plus: no-plus-qmark {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_PLUS_QMARK";
  #binding-cells = <0>;
  bindings = <&kp NO_PLUS>, <&kp NO_QMARK>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};

// / <
no_fslh: no-slash-lt {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_SLASH_LT";
  #binding-cells = <0>;
  bindings = <&kp NO_SLSH>, <&kp NO_LABK>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};

// - >
no_minus: no-minus-gt {
  compatible = "zmk,behavior-mod-morph";
  label = "NO_MINUS_GT";
  #binding-cells = <0>;
  bindings = <&kp NO_MINS>, <&kp NO_GT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};
