/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * @bzgec : isyatsyso
 ***************************************************************************************************
 * norwegian qwerty in base, with persnal flavour for add layers
 ***************************************************************************************************
 * Host layout: SI *
 ***************************************************************************************************
 * ZMK layer: (note: maybe)
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    | BT 0   | BT 1   | BT 2   | BT 3   | BT 4   |             |        |        |        |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        | BT CLR |        | EP ON  | EP OFF | Reset  |             |        | To SI  | To SI  | To AoE |        |        |
 *  |        |        |        |        |        |        |             |        | Linux  | Win    |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        |        |        |        |        | Bootl  |             |        |        |        |        |        |        |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  |        |        |        |   |        |        |        |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 * - `BT 0-4`: Select the x bluetooth profile
 * - `BT CLR`: Clear bond between the keyboard and the host for the selected profile
 * - `Reset`: Reset this side of the keyboard
 * - `Bootl`: Reset this side of the keyboard to bootloader mode
 * - `EP ON`: Enable external power (enable VCC power output)
 * - `To SI Linux`: Switch keyboard layout to match SI host layout, Linux host
 * - `To SI Win`: Switch keyboard layout to match SI host layout, Windows host
 * - `EP OFF`: Disable external power (disable VCC power output)
 *
 * - Difference between "SI Linux" and "SI Windows" is in how a few special characters
 *   are implemented but for the end use there should be no difference
 *
 *   - `no_n6_lin`    -> `no_n6_win` (`^`)
 *   - `no_grave_lin` -> `no_grave_win` (`\``, `~`)
 *
 ***************************************************************************************************
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_no.h"


#define xxx &none
#define ___ &trans


#define SI_BASE_LIN 0  // Base layer, host layout: SI, Linux host
#define SI_BASE_WIN 1  // Base layer, host layout: SI, Windows host
#define SI_SYM_LIN  2  // Symbols layer, host layout: SI, Linux host
#define SI_SYM_WIN  3  // Symbols layer, host layout: SI, Windows host
#define L_EXT1_LIN  4  // Extend layer 1: Linux host
#define L_EXT1_WIN  5  // Extend layer 1: Windows host
#define L_EXT2_LIN  6  // Extend layer 2: Linux host
#define L_EXT2_WIN  7  // Extend layer 2: Windows host
#define AOE_BASE    8  // Base AoE layer, host layout: SI, Windows host
#define AOE_SYM     9  // Symbols AoE layer, host layout: SI, Windows host
#define L_ZMK      10  // ZMK layer

#define _MIC_MUTE_WIN  LG(LS(SI_A))
#define _TOLDSK LG(LC(LEFT))   // Move to left desktop on Windows (WIN + CTRL + LEFT)
#define _TORDSK LG(LC(RIGHT))  // Move to right desktop on Windows (WIN + CTRL + RIGHT)

// Go to ZMK layer when holding TAB key
// On tap: TAB
// On hold: L_ZMK (ZMK layer)
#define TAB_L_ZMK  &lt L_ZMK TAB


// https://zmk.dev/docs/features/debouncing
&kscan0 {
    debounce-press-ms = <3>;    // Default is 5 ms
    debounce-release-ms = <4>;  // Default is 5 ms
};


/ {
    /*behaviors {//not_in_use
        #include "behaviors_mod_morph.dtsi"

        shft_caps: tap_dance_shift_caps_lock_toggle {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_DANCE_SHIFT_CAPS_LOCK_TOGGLE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };*/

    keymap {
        compatible = "zmk,keymap";
                default_layer {	
                        bindings = <
// |---------|---------|---------|---------|---------|---------|----|---------|---------|--------__-|---------|--------__-|---------|
// |   TAB   |   Q     |   W     |   E     |   R     |   T     |    |   Y     |   U     |   I       |   O     |   P       |   Å     |
   &kp TAB   &kp NO_Q  &kp NO_W  &kp NO_E  &kp NO_T  &kp NO_R       &kp NO_Y  &kp NO_U  &kp NO_I    &kp NO_O  &kp NO_P    &kp NO_ARNG
// |    CTRL |   A     |   S     |   D     |   F     |   G     |    |   H     |   J     |   K       |   L     |   Ø       |   Æ     |
   &kp LCTRL &kp NO_A  &kp NO_S  &kp NO_D  &kp NO_F  &kp NO_G       &kp NO_H  &kp NO_J  &kp NO_K    &kp NO_L  &kp NO_OSTR &kp NO_AE
// |    SHFT |   Z     |   X     |   C     |   V     |   B     |    |   N     |   M     |   ,       |   .     |   -       |   RSHFT |
   &kp LSHFT &kp NO_Z  &kp NO_X  &kp NO_C  &kp NO_V  &kp NO_B       &kp NO_N  &kp NO_M  &kp NO_COMM &kp NO_DOT   &kp NO_MINS &kp RSHFT
//                    |    GUI |       |   ENT |   |    SPC  |       |   BSPC |
                      &kp LGUI &mo 1 &kp RET     &kp SPACE &mo 2 &kp BSPC
                        >;
                };
                lower_layer {
                        bindings = <
// |---------_|---------|---------|---------|---------|---------|----_---|---------|---------|---------|---------|---------_-|---------|
// |   TAB    |   F1    |   F2    |   F3    |   F4    |   F5    |        |   F6    |   F7    |   F8    |   F9    |   F10     |   F11   |
   &kp TAB    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5             &kp F6    &kp F7    &kp F8    &kp F9    &kp F10     &kp F11
// | BTCLR    |   "|"   |    `    |   $     |   ^     |   ~     |        |         |   INS   |   HM    |   PUp   |   PrS     |   F12   |
   &bt BT_CLR &kp PIPE  &kp GRAVE &kp DLLR  &kp CARET &kp TILDE             ___    &kp INS   &kp HOME  &kp PG_UP &kp PSCRN   &kp F12
// |   SHFT   |   <     |   >     |   BT1   |   BT2   |   BT3   |        |         |   DEL   |   END   |   PDw   |   CNT     |   ESC   |
   &kp LSHFT  &kp LT    &kp GT    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2    ___    &kp DEL   &kp END   &kp PG_DN &kp K_CMENU &kp ESC
//                    |    GUI |      |   ENT |   |    SPC  |      |   BSPC |
                      &kp LGUI   ___  &kp RET     &kp SPACE   ___  &kp BSPC
                        >;
                };
                raise_layer {
                        bindings = <
// |---------|---------|---------|---------|---------|---------|----|---------|---------|---------|---------|---------|---------|
// |    TAB  |   !     |  "      |   #     |   (     |   )     |    |   =     |   /     |   7     |   8     |    9    |   -     |
   &kp  TAB  &kp EXCL  &kp DQT   &kp HASH  &kp LPAR  &kp RPAR       &kp EQUAL &kp FSLH  &kp N7    &kp N8    &kp  N9   &kp MINUS
// |    CTRL |   %     |   &     |   @     |   [     |   ]     |    |         |   *     |   4     |   5     |    6    |   +     |
   &kp LCTRL &kp PRCNT &kp AMPS  &kp AT    &kp LBKT  &kp RBKT           ___   &kp STAR  &kp N4    &kp N5    &kp  N6   &kp PLUS
// |    SHFT |   ?     |   \     |   '     |   {     |   }     |    |         |   0     |   1     |   2     |    3    |   ,     |
   &kp LSHFT &kp QMARK &kp BSLH  &kp SQT   &kp LBRC  &kp RBRC           ___   &kp N0    &kp N1    &kp N2    &kp N3    &kp COMMA
//                    |    GUI |      |   ENT |   |    SPC  |      |   BSPC |
                      &kp LGUI   ___  &kp RET     &kp SPACE   ___  &kp BSPC
                        >;
                };
/*        zmk_layer {
// -----------------------------------------------------------------------------------------
// | XXX  | BT 0  | BT 1   | BT 2   | BT 3   | BT 4   |        |       |           |           |      |      |      |
// |      | BTCLR |        | EP ON  | EP OFF | Reset  |        |       | To SI WIN | To SI WIN |      |      |      |
// |      |       |        |        |        | Bootl  |        |       |           |           |      |      |      |
//                         |        |        |        |        |       |           |           |
            bindings = <
   xxx &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2     &bt BT_SEL 3      &bt BT_SEL 4     xxx xxx             xxx             xxx          xxx xxx
   xxx &bt BT_CLR   xxx          &ext_power EP_ON &ext_power EP_OFF &sys_reset       xxx &to SI_BASE_LIN &to SI_BASE_WIN &to AOE_BASE xxx xxx
   xxx xxx          xxx          xxx              xxx               &bootloader      xxx xxx             xxx             xxx          xxx xxx
                                 xxx              xxx               xxx              xxx xxx             xxx
            >;
        };*/
    };
};
